@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;900&display=swap');

:root {
    --background-color: rgb(36, 36, 36);
    --title-color: #cccccc;
    --font-color: #666666;
    --navbar-font-color: #d8cbcb;
    --icons-color: #cccccc;
    --gradient-color01: #13B0F5;
    --gradient-color02: #E70FAA;
    --font-titles: bold 3.6rem 'Poppins', sans-serif;
    --font-paragrafos: 700 1.2rem 'Poppins', sans-serif;
    --gradient: linear-gradient(to left, var(--gradient-color01) 0%, var(--gradient-color02) 90%);
}

* {
    background-color: rgb(36, 36, 36)
    font-family: 'Poppins', sans-serif;
    
}

#root{
    background-color: var(--background-color);
    color: var(--font-color);
}

.horizontal-line {
    margin: auto;
    width: 70vw;
    height: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--font-color);
}

.gradient {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.glass {
    background: rgba(36, 36, 36, 0.3); 
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    padding: 20px; 
  }

.m-6 {
    margin: 6rem;
}

.mt-6 {
    margin-top: 6rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

.mr-6 {
    margin-right: 6rem;
}

.ml-6 {
    margin-left: 6rem;
}


.m-7 {
    margin: 7rem;
}

.mt-7 {
    margin-top: 7rem;
}

.mb-7 {
    margin-bottom: 7rem;
}

.mr-7 {
    margin-right: 7rem;
}

.ml-7 {
    margin-left: 7rem;
}


.m-8 {
    margin: 8rem;
}

.mt-8 {
    margin-top: 8rem;
}

.mb-8 {
    margin-bottom: 8rem;
}

.mr-8 {
    margin-right: 8rem;
}

.ml-8 {
    margin-left: 8rem;
}


.m-9 {
    margin: 9rem;
}

.mt-9 {
    margin-top: 9rem;
}

.mb-9 {
    margin-bottom: 9rem;
}

.mr-9 {
    margin-right: 9rem;
}

.ml-9 {
    margin-left: 9rem;
}


.m-10 {
    margin: 10rem;
}

.mt-10 {
    margin-top: 10rem;
}

.mb-10 {
    margin-bottom: 10rem;
}

.mr-10 {
    margin-right: 10rem;
}

.ml-10 {
    margin-left: 10rem;
}


.title-home {

    text-align: left;
    font: bold 4.5rem 'Poppins', sans-serif;
    line-height: 5rem;
    color: var(--title-color);
}

.iconSize-home {
    font-size: 2.5rem;
}

.iconSize-tools {
    font-size: 9.4rem;
}

.iconSize-footer {
    font-size: 1.5rem;
    
}

.link > a {
    color: inherit;
    
}

.card {
    
    width: 190px;
    height: 254px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: var(--gradient-color01);
    background: var(--gradient);
    position: relative;
    z-index: 1;
}



.card-info {
    background-color: var(--background-color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
}

.card-body {
    background-color: var(--background-color);
}

.card .title {
    font-weight: bold;
    letter-spacing: .1em;
}

.wid{
    width: 600px !important;
    display: flex;
    flex-direction: column;
}

.btn{
    width: 5rem;
    margin: auto;
    
}

@media(max-width: 800px) {
    .invisivel {
        display: none;
    }

    .mt-10 {
        margin: 4rem;
    }

    .mb-10 {
        margin-bottom: 4rem;
    }

    .iconSize-tools {
        font-size: 3rem;
    }


    .title-home {

        text-align: left;
        font: bold 4rem 'Poppins', sans-serif;
        line-height: 4.5rem;
        color: var(--title-color);
    }
}
